<footer class="base">
                   <ul>
                       <li><a href="">Contact US</a></li>
                        <li><a href="">Policy</a></li>
                   </ul>

                   {{firstName}}  {{lastName}}
</footer>